body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: 20px auto;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header2 {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
    font-size: 1.25em;
}

.card-body {
    padding: 15px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.btn {
    cursor: pointer;
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.container {
    display: flex;
    justify-content: space-between;
}

.card {
    flex: 1;
    margin: 10px;
}

.card-header {
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
    font-size: 1.25em;
}

.registros-container {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.produtos-container {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px; /* Ajuste a altura conforme necessário */
    margin-right: 10px; /* Espaço entre a logomarca e o título */
}

.card-title {
    text-align: center;
    margin: 0; /* Remove a margem padrão */
}

.btn-green {
    background-color: #28a745; /* Cor verde */
    border: 1px solid #28a745;
    color: #fff;
    margin-left: 600px; /* Empurra o botão para a direita */
}

.btn-green:hover {
    background-color: #218838; /* Cor verde mais escura ao passar o mouse */
    border-color: #1e7e34;
}

.card-body1 {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group {
    flex: 1;
}